<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>GRC-APP Login Page</title>
  </head>
  <body>
    <div class="UA-logo">
      <img src="../static/logoua.png" alt="UA Logo" class="img-thumbnail border-0 shadow-lg"/>
    </div>
    <div class="page-wrapper my-5">
        <div class="scroll-content">
            <div class="content-wrapper">
                <!-- container - It's the direct container of all the -->
                <div class="content container-fluid">
                    <div class="container login-form">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <h3 class="text-uppercase fw-bold">
                                    Governance Risk Compliance Console
                                  </h3>
                                <div class="card border-0 py-1">
                                    <h1 class="text-center">Registration Form</h1>
                                    {% from "includes/_formhelpers.html" import render_field %}
                                    {% include "includes/_message.html"%}
                                    <form method="POST" action="">
                                      <div class="form-group mb-2">
                                        {{render_field(form.name, class_="form-control")}}
                                      </div>
                                      <div class="form-group mb-2">
                                        {{render_field(form.email, class_="form-control")}}
                                      </div>
                                      <div class="form-group mb-2">
                                        {{render_field(form.username, class_="form-control")}}
                                      </div>
                                      <div class="form-group mb-2" type="hidden">
                                        {{render_field(form.password, class_="form-control")}}
                                      </div>
                                      <div class="form-group mb-2" type="hidden">
                                        {{render_field(form.confirm, class_="form-control")}}
                                      </div>
                                      <p><input type="submit" class="btn btn-primary" value="Submit"></p>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>

                </div>
                <!-- End of content -->
            </div>
            <!-- End of content-wrapper -->
<!-- FOOTER -->
 <div><hr></div>
<footer class="container float-start">
  <p class="float-end"><a href="loginPage.html">Back to top</a></p>
  <p>&copy; 2024 UA Brands International P Ltd. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
